.container {
    width: 450px;
    background-color: rgba(180, 4, 4, 0.15);
    backdrop-filter:blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.container h1{
    font-size: 1.5rem;
    padding: 30px;
}

.container input {
    border: 2px solid black;
    padding: 15px 70px;
    border-radius: 10px;
    margin-top: 50px;
}

.container input::placeholder{
    text-align: center;
    justify-content: center;
    color: gray;
    font-size: 15px;
}